
<div class="adminNav">
    <a class="dashboard" routerLink="/admin/dashboard">Dashboard</a>
    <a class="dashboard" routerLink="/admin/operator">Operator</a>
    <a class="dashboard" routerLink="/admin/warehouse">Warehouse</a>
    <a class="dashboard" routerLink="/admin/outlet">Outlets</a>
    <a class="dashboard" routerLink="/admin/customer">Customer</a>
    <a class="dashboard" routerLink="/admin/sales">Sales</a>
    <a class="dashboard" routerLink="/admin/suppliers">Suppliers</a>
    <a class="dashboard" routerLink="/admin/product">Product</a>
    <a class="dashboard" routerLink="/admin/purchase">Purchase</a>
    <a class="dashboard" routerLink="/admin/barcode-image">Barcode Image</a>
    <a class="dashboard" routerLink="/admin/customer-barcode">Custom Barcode </a>
    <a class="dashboard" routerLink="/admin/order">Orders</a>
</div>

<!-- <router-outlet></router-outlet> -->